# Ignore cache of python
__pycache__/

# for c++
**/entrada.txt
**/main

# for javascript
**/node_modules/**/*
**/package.json
**/package-lock.json

# Ignore settings from gitpod
.theia

# for Intellij
.idea/
*.iml
